@import url(//fonts.googleapis.com/css?family=Open+Sans);

html{
	background: aquamarine;
	overflow:hidden;
}

body{
	font-family: 'Open Sans', sans-serif;
	font:15px/1.3;
	color: darkslategray;
	z-index:1;
}

a, a:visited {
	outline:none;
	color: black;
}

a:hover{
	text-decoration:none;
}

section, footer, header, aside{
	display: block;
}